html,
body {
  	height: 100%;
}

body {
	margin: 30px;
}

.img-produit {
	margin: 25px;
	max-height: 100px;
}

.form-register input, select{
	max-width: 450px;
	margin: 8px auto; 
}

.vie_prive {
	max-width: 550px;
}

.list_user {
	max-width: 550px;
	margin: 15px auto;
}

.title_form {
	max-width: 550px;
	margin: 15px auto;
	background: #464848;
	color: #fff;
}

.error-message {
	font-size: 12px;
	color: #D8230F;
}

.user a:hover {
	text-decoration: none;
}

a.logout_user {
	font-size: 14px;
	padding-left: 20px; 
}

.img-chaussure {
	max-width: 300px;
}

.img-panier {
	max-width: 40px;
}

.nom_produit {
	width: 170px;
}